.config-titulo{ 
  padding-top: 25px;
}

.config-titulo h1{ 
  font-size: 55px;
  margin: 7px;
  padding: 0;
}

.config-titulo h2{ 
  font-size: 30px;
  margin: 7px;
  padding: 0;
}

.confg-projetos-imgs{ 
  padding-top: 3%;
}


.confg-projetos-imgs img{ 
  width: 430px;
}

.confg-projetos-imgs .row .col{ 
  padding: 0;
}

.carousel-confg{ 
  padding-left: 25px;
  padding-right: 25px;
}

.confg-img-description-dantt{
  border-top: solid #e6b823 4px;
  border-bottom: solid #e6b823 4px;
  padding: 5%;  
  padding-left: 7%;
}

.config-projects-gallery{
  background: linear-gradient(45deg, rgb(181 178 178 / 68%), transparent); 
  border-bottom: solid black 0.5px;
  padding: 2%;
}

.config-description-information{
  background: linear-gradient(45deg, rgb(181 178 178 / 68%), transparent);
  padding-left: 6%;
  padding-right: 6%;
  margin-top: 5%;
}

.config-description-spaces{ 
  padding-top: 3%;
}

.col-lg-4{ 
  padding: 8%;
} 


.config-label{ 
  text-align: justify;
}

.config-label p{ 
  font-weight: bold;
}

.confg-col{ 
  padding: 30px;
}


.confg-col-gold { 
  background: linear-gradient(247deg, #ffd600, transparent);
  border-radius: 12px;
  padding: 30px;
}

