// Configuração da header.
.header-social-midia { 
  background-color: rgb(36, 35, 35);
  height: 45px;
  width: 100%;
}

// configuração para exibição dos icones de redes sociais da empresa. 
.group-social-midia {
  background-color: transparent;
  border: none;
  display: flex;
  padding-left: 5%;
  padding-top: 0.2%;
}
  
// configuração de exibição dos botões de mídia sociais.  
.group-social-midia button { 
  background-color: transparent;
  border: none;
  margin-right: 10px;
}

// disable hover dos botões de mídia sociais.  
.group-social-midia button:hover { 
  background-color: transparent;
  border: none;
}
  

  
@media (min-width: 500px) and (max-width: 550px) {
  .header-page { 
    border-bottom: solid black 0.1px;
    margin-top: 5px;
    margin-bottom: 15px;
    padding-left: 1px;
    padding-right: 30px;
    width: 100%;
  }
}
  
@media (min-width: 551px) and (max-width: 560px) {
  .header-page { 
    border-bottom: solid black 0.1px;
    margin-top: 5px;
    margin-bottom: 15px;
    padding-left: 5px;
    padding-right: 30px;
    width: 100%;
  }
}
  
@media (min-width: 561px) and (max-width: 570px) {
  .header-page { 
    border-bottom: solid black 0.1px;
    margin-top: 5px;
    margin-bottom: 15px;
    padding-left: 10px;
    padding-right: 30px;
    width: 100%;
  }
}
  
  
@media (min-width: 767px) {
  .header-page { 
    border-bottom: solid black 0.1px;
    margin-top: 5px;
    margin-bottom: 15px;
    padding-left: 70px;
    padding-right: 30px;
    width: 100%;


  }

  .navbar-toggler{ 
    margin-right: 5px;
  }
}
// configuração dos botões da página principal. 
.nav-confg { 
  margin-left: auto;
}
  
.nav-confg button{ 
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  font-size: 20px;
}
  
.nav-confg button:hover{ 
  // background-color: rgb(37, 37, 37);
  background: linear-gradient(to bottom, white, gold);
  color: black;
  border-radius: 5px;
}

.nav-confg-div
{ 
  padding-bottom: 10px;
}